@using Portfolio.Library
@using Portfolio.MVC.Helpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
	<title>Portfolio of Anna J. Steglinski >> @ViewBag.Title</title>
	@Styles.Render("~/Content/css/bootstrap")
	@Styles.Render("~/Content/css", "~/Content/css")
</head>
<body>
	<header class="navbar navbar-inverse navbar-default navbar-fixed-top">
	<nav role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#"></a>
			    <ul class="nav navbar-nav">
                    @Html.MenuItem("Home", "Index", "Home", null, "hidden-xs")
			        @foreach (Category categoryItem in ViewBag.Categories)
			        {
			            @Html.MenuItem(categoryItem)
			        }
			    </ul>
			</div>
		</div>
	</nav>
	</header>
	<div class="container margin-top-7">
		<div class="row" style="padding-top:30px;"> 
		@RenderBody()
		</div>   
	</div>
	@Scripts.Render("~/bundles/baseScripts")
	@RenderSection("scripts", required: false)

    <script type="text/javascript">
        function GetProjectDetails(id) {
            var url = '@Url.Action("GetProjectDetails" , "Projects")/' + id;

            $.get(url, function (data) {
                $('#projectDetails').html(data);

                $('.modal').modal('show');
            });
        }
    </script>
</body>
</html>
